.favourites {
	margin: 4%;
	background-color: grey;
	display: inline-grid;
	width: 100vw;
	height: 100px;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	border: 2px black dashed;
	padding: 2%;
}
